<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaxiDriverSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="TaxiDriverSystem.Properties.Settings.mz7340gConnectionString"
            connectionString="Data Source=sql-server;Initial Catalog=mz7340g;Persist Security Info=True;User ID=mz7340g;Password=Tanveer123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>


    <userSettings>
        <TaxiDriverSystem.Properties.Settings>
            <setting name="dbString" serializeAs="String">
                <value>server=sql-server;database=mz7340g;UID=mz7340g;password=Tanveer123</value>
            </setting>
        </TaxiDriverSystem.Properties.Settings>
    </userSettings>
</configuration>